<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoDeal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04607F991EC2B63300DFE5E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04607FB21EC2B63300DFE5E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04607FBD1EC2B63300DFE5E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
